<!DOCTYPE html> 
<html lang="en"> 
<head>
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <title>RyanGraham.ca</title> 
  <link rel="stylesheet" type="text/css" href="/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head> 
<body>
  <div class="container">
    <header class="row m-0">
        <div class="col-auto mr-auto my-auto pl-0">
          <ul class="list-unstyled my-2">
            <li>
              <a class="logo" href="/">
                <img class="rg-logo" src="/img/rg-logo.png"/><span class="h2 rg-logo-text">RyanGraham.ca</span></a>
            </li>
          </ul>
        </div>
        <nav class="col-auto my-auto pl-0">
          <ul class="row m-0 list-unstyled">
            <li class="ml-3">
              <a href="/About">About</a>
            </li>
            <li class="ml-3">
              <a href="/tags/post/">Blog</a>
            </li>
            <li class="ml-3">
              <a href="/tags/projects/">Projects</a>
            </li>
            <li class="ml-3">
              <a href="/tags/process/">Process</a>
            </li>
          </ul>
        </nav>
    </header>
    <main role="main">
      {% block contents %}
        {{ content | safe }}
      {% endblock contents %}
      {% block projects %}
      {% endblock projects %}
      {% block posts %}
      {% endblock posts %}
      {% block process %}
      {% endblock process %}
    </main> 
    <footer>
      <a href="https://twitter.com/RyanRoundhouse"><i class="fab fa-twitter"></i></a>
      <a href="https://github.com/ryanroundhouse/"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/ryandouglasgraham/"><i class="fab fa-linkedin"></i></a>
    </footer> 
  </div>
</body> 
</html>