<!DOCTYPE html> 
<html lang="en"> 
<head>
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <title>RyanGraham.ca</title> 
  <link rel="stylesheet" type="text/css" href="/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head> 
<body>
  <header class="nav">
    <div class="container">
        <div class="col-auto mr-auto my-auto pl-0">
          <a class="logo" href="/">
            <img class="rg-logo" src="/img/rg-logo.png"/>
            <span class="h2 rg-logo-text d-none d-md-block mb-0">RyanGraham.ca</span>
          </a>
        </div>
        <nav class="col-auto my-auto pl-0">
          <ul class="row m-0 list-unstyled">
            <li class="ml-3">
              <a href="/About">About</a>
            </li>
            <li class="ml-3">
              <a href="/post-list/">Posts</a>
            </li>
            <li class="ml-3">
              <a href="/project-list/">Projects</a>
            </li>
            <li class="ml-3">
              <a href="/tags/process/">Process</a>
            </li>
          </ul>
        </nav>
    </div>
  </header>
  <main role="main">
      {{ content | safe }}
  </main> 
  <footer class="dark-background pt-5 pb-2">
    <a href="https://twitter.com/RyanRoundhouse"><i class="fab fa-twitter mx-3"></i></a>
    <a href="https://github.com/ryanroundhouse/"><i class="fab fa-github mx-3"></i></a>
    <a href="https://www.linkedin.com/in/ryandouglasgraham/"><i class="fab fa-linkedin mx-3"></i></a>
  </footer>
  <script src="/js/stickyheader.js"></script>
</body> 
</html>