{% extends "layouts/base-layout.njk" %}

{% block projects %}
  <div class="row m-0">
    <h1>Latest Projects</h1>
  </div>
  <div class="row m-0 mx-n3">
    {% set maxNumberOfProjectsToShow = collections.projects.length if collections.projects.length < 3 else 3 %}
    {% set fullProjectLength = collections.projects.length - 1 %}
    {% for i in range(0, maxNumberOfProjectsToShow) %}
      <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-4 articleLink">
        <div class="three-row-aligned h-100 bg-white p-2 text-center rounded">
          <a class="wholeDivLink" href="{{ collections.projects[fullProjectLength - i].url | url }}" aria-label="Read more on {{ collections.projects[fullProjectLength - i].data.title }}"></a>
          <div>
            <h2>{{ collections.projects[fullProjectLength - i].data.title }}</h2><br/>
            {# [i].data.title #}
            <time datetime="{{ collections.projects[fullProjectLength - i].date | dateIso }}">{{ collections.projects[fullProjectLength - i].date | dateReadable }}</time>
          </div>
          <div>
            {% for tech in collections.projects[fullProjectLength - i].data.technologies %}
              <img src="/img/icons/{{tech}}.png" alt="{{tech}}" title="{{tech}}"/>
            {% endfor %}
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
  <div class="row m-0">
    <a href="/tags/projects/" class="ml-auto">View older projects</a>
  </div>
{% endblock projects %}

{% block posts %}
  <div class="row m-0">
    <h1>Latest Posts</h1>
  </div>
  <div class="row m-0 mx-n3">
    {% set postLength = collections.post.length if collections.post.length < 3 else 3 %}
    {% set fullPostLength = collections.post.length - 1 %}
    {% set maxNumberOfPostsToShow = collections.post.length if collections.post.length < 3 else 3 %}
    {% for i in range(0, maxNumberOfPostsToShow) %}
      <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-4 articleLink">
        <div class="three-row-aligned h-100 bg-white p-2 text-center rounded">
          <a class="wholeDivLink" href="{{ collections.post[fullPostLength - i].url | url }}" aria-label="Read more on {{ collections.post[fullPostLength - i].data.title }}"></a>
          <div>
            <h2>{{ collections.post[fullPostLength - i].data.title }}</h2><br/>
            <p>{% excerpt collections.post[fullPostLength - i] %}</p>
          </div>
          <div class="align-self-end">
            <time datetime="{{ collections.post[fullPostLength - i].date | dateIso }}">{{ collections.post[fullPostLength - i].date | dateReadable }}</time>
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
  <div class="row m-0">
    <a href="/tags/post/" class="ml-auto">View older posts</a>
  </div>
{% endblock posts %}

{% block process %}
  <div class="row m-0">
    <h1>Latest Process</h1>
  </div>
  <div class="row m-0 mx-n3">
    {% set processLength = collections.process.length if collections.process.length < 3 else 3 %}
    {% set fullProcessLength = collections.process.length - 1 %}
    {% set maxNumberOfProcessToShow = collections.process.length if collections.process.length < 3 else 3 %}
    {% for i in range(0, maxNumberOfProcessToShow) %}
      <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-4 articleLink">
        <div class="three-row-aligned h-100 bg-white p-2 text-center rounded">
          <a class="wholeDivLink" href="{{ collections.process[fullProcessLength - i].url | url }}" aria-label="Read more on {{ collections.process[fullProcessLength - i].data.title }}"></a>
          <div>
            <h2>{{ collections.process[fullProcessLength - i].data.title }}</h2><br/>
            <p>{% excerpt collections.process[fullProcessLength - i] %}</p>
          </div>
          <div class="align-self-end">
            <time datetime="{{ collections.process[fullProcessLength - i].date | dateIso }}">{{ collections.process[fullProcessLength - i].date | dateReadable }}</time>
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
  <div class="row m-0">
    <a href="/tags/process/" class="ml-auto">View older process</a>
  </div>
{% endblock process %}