---
layout: /layouts/base-layout.njk
---
<div class="row">
  <div class="col-md-10 col-lg-10 offset-lg-1 offset-md-1">
    <article class="article">
      <h1>{{ title }}</h1> 
      <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time> 
      <div class="mt-5 bg-white p-2 rounded">
        {{ content | safe }}
      </div>
    </article>
  </div>
</div>