---
layout: /layouts/base-layout.njk
---
{# This is only here for old-posts #}
<div class="container">
  <div class="row col-md-10 col-lg-10 offset-lg-1 offset-md-1 mt-5 bg-white py-3 px-md-5 rounded">
    <div class="article">
      <h1>{{ title }}</h1> 
      <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time> 
      <div class="">
        {{ content | safe }}
      </div>
    </div>
  </div>
</div>