---
layout: layouts/project-layout.njk
templateClass: tmpl-post
pagination:
  data: projects
  size: 1
  alias: project
permalink: project/{{ project.slug }}/index.html
---
{% block content %}

    <h1>{{ project.title }}</h1>
    <time datetime="{{ project.date | dateIso }}">{{ project.date | dateReadable }}</time>
    <ul class="mt-3">
      {% for tech in project.technologies %}
        <img src="{{tech.logo.url}}" alt="{{tech.logo.alternativeText}}" title="{{tech.logo.alternativeText}}"/>
      {% endfor %}
    </ul>

    <div class="mt-4 bg-white py-3 px-md-5 rounded">
      <h2>Source code</h2>
      <p>
        <a href="{{ project.github }}">{{ project.title }} on github</a>
      </p>
      {% markdown %}{{ project.description | safe }}{% endmarkdown %}  
    </div>

{% endblock %}