---
layout: layouts/base-layout.njk
pagination:
  data: projects
  size: 6
  alias: project
permalink: /project-list{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html
---
<h1 class="mb-4 mt-3">Projects</h1>
{% if pagination.pageNumber > 0 %}<h2 class="mb-4 mt-3">Page {{ pagination.pageNumber + 1}}</h2>{% endif %}

{% block content %}
    <div class="row m-0 mx-n3">
    {# loop through paginated item #}
    {% for item in pagination.items %}
        <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-4">
            <div class="three-row-aligned h-100 bg-white p-2 text-center rounded">
            <a class="wholeDivLink" href="/project/{{ item.slug }}" aria-label="Read more on {{ item.title }}"></a>
            <div>
                <h2 >{{ item.title }}</h2><br/>
                {% for tech in item.technologies %}
                    <img src="{{tech.logo.url}}" alt="{{tech.logo.alternativeText}}" title="{{tech.logo.alternativeText}}"/>
                {% endfor %}
            </div>
            <div class="align-self-end">
                <time datetime="{{ item.date | dateIso }}">{{ item.date | dateReadable }}</time>
            </div>
        </article>
    {% endfor %}
    </div>

    {# pagination #}
    {% if pagination.hrefs | length > 0 %}
        <ul>
    {% if pagination.previousPageHref %}
        <li><a href="{{ pagination.previousPageHref }}">Previous page</a></li>
    {% endif %}
    {% if pagination.nextPageHref %}
        <li><a href="{{ pagination.nextPageHref }}">Next page</a></li>
    {% endif %}
        </ul>
    {% endif %}
{% endblock %}