---
layout: /layouts/base-layout.njk
---

{% block content %}
<div class="container">
    <div class="mt-4 bg-white py-3 px-md-5 rounded">
        <h1>About This Blog</h1>

        This is <a href="/retro">my special place</a> on the big World Wide Web.
        It's safe from <a href="/katie">danger</a>
        {% endblock %}
    </div>
</div>