---
layout: layouts/base-layout.njk
---

<div class="jumbotron p-3 text-white bg-dark mb-5 py-5">
  <div class="container">
    <div class="col-md-8 col-lg-6 px-0">
      <a class="wholeDivLink" href="{{ collections.post[collections.post.length-1].url }}" aria-label="Read more on {{ collections.post[collections.post.length-1].data.title }}"></a>
      <h1 class="display-4 font-italic">{{collections.post[collections.post.length-1].data.title}}</h1>
      <p class="lead my-3">{% excerpt collections.post[collections.post.length-1] %}</p>
      <a href="{{ collections.post[collections.post.length-1].url }}" aria-label="Read more on {{ collections.post[collections.post.length-1].data.title }}">Read more</a>
    </div>
  </div>
</div>

<div class="my-5">
  <div class="my-5 container vert">
    <div class="my-5">
      <h1>Latest Projects</h1>
    </div>
    <div class="articlestream">
      {% set maxNumberOfProjectsToShow = collections.project.length if collections.project.length < 3 else 3 %}
      {% for i in range(1, maxNumberOfProjectsToShow+1) %}
        <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-4 articleLink">
          <div class="three-row-aligned h-100 bg-white p-2 text-center rounded">
            <a class="wholeDivLink" href="{{ collections.project[collections.project.length-i].url }}" aria-label="Read more on {{ collections.project[collections.project.length-i].data.title }}"></a>
            <div>
              <h2>{{ collections.project[collections.project.length-i].data.title }}</h2><br/>
              <time datetime="{{ collections.project[collections.project.length-i].date | dateIso }}">{{ collections.project[collections.project.length-i].date | dateReadable }}</time>
            </div>
            <div>
              {% for tech in collections.project[collections.project.length-i].data.technologies %}
                <img src="/img/icons/{{tech}}.png" alt="{{tech}}" title="{{tech}}"/>
              {% endfor %}
            </div>
          </div>
        </article>
      {% endfor %}
    </div>
    <div class="right mb-5">
      <a href="/project-list/" class="ml-auto">View older projects</a>
    </div>
  </div>
</div>

<div class="my-5 dark-background">
  <div class="my-5 container vert">
    <div class="my-5 text-white">
      <h1>Latest Posts</h1>
    </div>
    <div class="articlestream">
      {% set maxNumberOfPostsToShow = collections.post.length if collections.post.length < 3 else 3 %}
      {% for i in range(1, maxNumberOfPostsToShow+1) %}
        <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-4 articleLink light">
          <div class="three-row-aligned h-100 bg-white p-2 text-center rounded">
            <a class="wholeDivLink" href="{{ collections.post[collections.post.length-i].url }}" aria-label="Read more on {{ collections.post[collections.post.length-i].data.title }}"></a>
            <div>
              <h2>{{ collections.post[collections.post.length-i].data.title }}</h2>
            </div>
            <div>
              <p>{% excerpt collections.post[collections.post.length-i] %}</p>
            </div>
            <div class="align-self-end">
              <time datetime="{{ collections.post[collections.post.length-i].date | dateIso }}">{{ collections.post[collections.post.length-i].date | dateReadable }}</time>
            </div>
          </div>
        </article>
      {% endfor %}
    </div>
    <div class="right mb-5">
      <a href="/post-list/" class="ml-auto">View older posts</a>
    </div>
  </div>
</div>

<div class="mt-5">
  <div class="my-5 container vert">
    <div class="my-5">
      <h1>Latest Process</h1>
    </div>
    <div class="articlestream">
      {% set processLength = collections.process.length if collections.process.length < 3 else 3 %}
      {% set fullProcessLength = collections.process.length - 1 %}
      {% set maxNumberOfProcessToShow = collections.process.length if collections.process.length < 3 else 3 %}
      {% for i in range(0, maxNumberOfProcessToShow) %}
        <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-4 articleLink">
          <div class="three-row-aligned h-100 bg-white p-2 text-center rounded">
            <a class="wholeDivLink" href="{{ collections.process[fullProcessLength - i].url | url }}" aria-label="Read more on {{ collections.process[fullProcessLength - i].data.title }}"></a>
            <div>
              <h2>{{ collections.process[fullProcessLength - i].data.title }}</h2><br/>
              <p>{% excerpt collections.process[fullProcessLength - i] %}</p>
            </div>
            <div class="align-self-end">
              <time datetime="{{ collections.process[fullProcessLength - i].date | dateIso }}">{{ collections.process[fullProcessLength - i].date | dateReadable }}</time>
            </div>
          </div>
        </article>
      {% endfor %}
    </div>
    <div class="right mb-5">
      <a href="/tags/process/" class="ml-auto">View older process</a>
    </div>
  </div>
</div>