---
layout: layouts/base-layout.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---
<h1 class="mb-4 mt-3">
{% if '/post' in page.url %}All blog posts
{% elif '/projects' in page.url %}All projects
{% else %}{{ tag }}
{% endif %}</h1>

{% set taglist = collections[ tag ] %}
<div class="row m-0 mx-n3">
  {% for post in taglist | reverse %}
    <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-4">
      <div class="three-row-aligned h-100 bg-white p-2 text-center rounded">
        <a class="wholeDivLink" href="{{ post.url | url }}" aria-label="Read more on {{ post.data.title }}"></a>
        <div>
          <h2 >{{ post.data.title }}</h2><br/>
          {% if '/projects' in page.url %}
            {% for tech in post.data.technologies %}
              <img src="/img/icons/{{tech}}.png" alt="{{tech}}" title="{{tech}}"/>
            {% endfor %}
          {% endif %}
          {% if '/post' in page.url %}<p>{% excerpt post %}</p>{% endif %}
          {% if '/process' in page.url %}<p>{% excerpt process %}</p>{% endif %}
        </div>
        <div class="align-self-end">
          <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
        </div>
      </div>
    </article>
  {% endfor %}
</div>