$font-family: 'Raleway', 'PTSerif', georgia;
$title-font-family: 'Nexa Bold';
$page-background: #eff1ed;
$page-altbackground: #343a40;
$link-color: darken(#f78d1e, 10%);
$link-highlighted-color: #f78d1e;
