@font-face {
    font-family: Roboto;
    src: url('../webfonts/Roboto-Regular.ttf');
  }
  @font-face {
    font-family: PTSerif;
    src: url('../webfonts/PTSerif-Regular.ttf');
  }
  
  @font-face {
    font-family: Roboto-bold;
    src: url('../webfonts/Roboto-Bold.ttf');
  }