body {
    // display: grid;
    //background: url('/img/cardboard-flat.png');
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto;
    margin: 0px;
    background-color: #EFF1ED;
}

blockquote {
    text-indent: -0.5em;
    margin: 1rem;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url('../webfonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: PTSerif;
    src: url('../webfonts/PTSerif-Regular.ttf');
}

@font-face {
    font-family: Roboto-bold;
    src: url('../webfonts/Roboto-Bold.ttf');
}

// p{
//     font-family: PTSerif;
//     font-size: 20px;
//     line-height: 30px;
//     color:#343434;
// }

p{
    font-size:20px;
    line-height:30px;
    margin:15px 0 20px;
    font-family:"PTSerif",georgia;
}

ol, ul{
    font-family: PTSerif;
    font-size: 16pt;
}

a:hover{
    color: #F78D1E;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

a{
    font-family: PTSerif;
    font-size: 16pt;
    color: #F78D1E;
    text-decoration: none;
}

time{
    font-family: PTSerif;
    font-size: 12pt;
}

.lead{
    font-family: PTSerif;
}

.h1, h1{
    font-family: Roboto-bold;
    font-weight: bold;
    letter-spacing: -3px;
    font-size: 40pt;
}

.h2, h2{
    font-family: PTSerif;
    font-size: 24pt;
    
}

.h3, h3{
    font-family: PTSerif;
    font-size: 22pt;
}

a.wholeDivLink{
    position:absolute; 
    width:92%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
    margin-left: 15px;
    margin-right: 15px;
}

.rg-logo-text{
    vertical-align: middle;
    margin-left: 1rem;
}

.fa-twitter, .fa-linkedin, .fa-github{
    font-size: 30px;
    width: 30px;
}


// small screen styles
@media (max-width:767px){
    p{
        font-size:18px;
        line-height:26px;
        margin:0 20px 20px;
    }
    ol, ul{
        font-family: PTSerif;
        font-size: 18px;
        line-height:26px;
    }
    a{
        font-family: PTSerif;
        font-size: 18px;
        line-height:26px;
        color: #F78D1E;
        text-decoration: none;
    }
    h3,.h3,h2,.h2{
        margin: 0 20px 20px;
    }
}

@media (max-width:320px){
    p{
        font-size:18px;
        line-height:26px;
    }
    ol, ul{
        font-family: PTSerif;
        font-size: 18px;
        line-height:26px;
    }
    a{
        font-family: PTSerif;
        font-size: 18px;
        line-height:26px;
        color: #F78D1E;
        text-decoration: none;
    }
}

// Layout styles

.rg-logo {
    width: 2em;
    height: 2em;
}

.three-row-aligned{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    grid-column: 1 / 4;
}

main {
    grid-column: 2 / 3;
}

footer {
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}