@use 'config';
@use 'fonts';

* {
  font-family: config.$font-family;
}

body {
  height: 100vh;
  margin: 0px;
  background-color: config.$page-background;
}

blockquote {
  text-indent: -0.5em;
  margin: 1rem;
  font-style: italic;
}

p {
  font-size: 20px;
  line-height: 30px;
  margin: 15px 0 20px;
}

ol,
ul {
  font-size: 16pt;
}

ul {
  list-style-type: none;
}

a {
  font-size: 16pt;
  color: #f78d1e;
  text-decoration: none;

  &:hover {
    color: darken(#f78d1e, 10%);
    text-decoration: none;
  }
}

time {
  font-size: 12pt;
}

.h1,
h1 {
  font-family: Roboto-bold;
  font-weight: bold;
  letter-spacing: -3px;
  font-size: 40pt;
}

.h2,
h2 {
  font-size: 24pt;
}

.h3,
h3 {
  font-size: 22pt;
}

a.wholeDivLink {
  position: absolute;
  width: 92%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  margin-left: 15px;
  margin-right: 15px;
}

.rg-logo-text {
  vertical-align: middle;
  margin-left: 1rem;
}

@media (min-width: 767px) {
  // sticky nav
  .nav.active {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }

  main {
    margin-top: 48px;
  }
}

// small screen styles
@media (max-width: 767px) {
  p {
    font-size: 18px;
    line-height: 26px;
    margin: 20px 20px 20px;
  }
  ol,
  ul {
    font-size: 18px;
    line-height: 26px;
  }
  a {
    font-size: 18px;
    line-height: 26px;
    color: #f78d1e;
    text-decoration: none;
  }
  h3,
  .h3,
  h2,
  .h2 {
    margin: 20px 20px 20px;
  }
}

@media (max-width: 320px) {
  p {
    font-size: 18px;
    line-height: 26px;
  }
  ol,
  ul {
    font-size: 18px;
    line-height: 26px;
  }
  a {
    font-size: 18px;
    line-height: 26px;
    color: #f78d1e;
    text-decoration: none;
  }
  time{
    margin-left: 16px;
  }
}

// Layout styles

.rg-logo {
  width: 2em;
  height: 2em;
}

.logo {
  display: flex;
  align-items: center;
}

// sticky header
.nav {
  height: 48px;
  background-color: config.$page-background;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.container.vert {
  flex-direction: column;
}

article{
  filter: drop-shadow(10px 10px 50px #333)
}

article.light{
  filter: drop-shadow(10px 10px 50px #888)
}

.articlestream {
  display: flex;
  margin-left: -14px;
  margin-right: -14px;
  flex-wrap: wrap;
}

.dark-background {
  background-color: config.$page-altbackground;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.jumbotron {
  border-radius: 0px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-twitter,
.fa-linkedin,
.fa-github {
  font-size: 30px;
  width: 30px;
}
